.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#links-container{
  display: flex;
  flex-direction: column;
  width: 100px;
  grid-column-start:1;
  grid-column-end:1;

}

img.display-image{
  
  width: 150px;
  height: 150px;
  
  

}

div.product-container{
  display:flex;
  flex-direction: column;
  width: 15vw;
  height: 42vh;
  border: solid .5px rgb(159, 159, 159);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;


  
}



div#products-container-wrapper{
  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  border-top: solid 1px grey;



}

div#products-display{
  display:flex;
  flex-wrap: wrap;
  grid-column-start:2;
  grid-column-end:6;
  margin-top: 40px;
  
}

div.product-container > p {
  margin-top: .5vh;
  margin-bottom: .5vh;
  
}

.modal-background{
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items : center;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-container {
  width: 75vw;
  height: 80vh;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  
  
}

.modal-container .title{
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modal-close-btn {
  display: flex;
  justify-content: flex-end;
}

.modal-close-btn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-left: 75vw;
  
}


.modal-container .body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-align: center;
}

#modal-image{
  width: 150px;
  height: 150px
}

.modal-text{
  margin-top: .5vh;
  margin-bottom: .5vh;
}

.table-image {
  width: 150px;
  height: 150px;
}

#about-wrapper{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20;
  border-top: solid 1px grey
 
  
  
}

#mission-statement-container{
  grid-column-start: 1;
  grid-column-end: 3;
  display: block;
  padding-left: 30px;
  padding-top: 100px;
  
  

}

#about-image-container{
  grid-column-start: 4;
  grid-column-end: 6;
  padding-left: 20px;
  margin-top: 30px;
}

#about-image {
  width: 300px;
  height: 400px
}

#navbar-container{
  display:flex;
  justify-content: flex-end;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px

}

nav > a{
  padding-bottom: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  text-decoration: none;
  color: rgb(91, 90, 90)
}

nav > button {
  margin-left: 30px;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 10px;
  cursor: pointer;

}

#about-header {
  font-size: 40px;
  text-decoration: underline;

}

#links-container {
  margin-top: 20px
}

#links-container > a {
  padding-left: 30px;
  padding-top: 10px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 20px;
  color: black;

  
}

#links-container > a:visited{
  text-decoration: none;
  color: black;
}

#btn-container {
 margin-top: 10px;
  display:flex;
  flex-direction: row;
  
}

#btn-container > button{
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 10px;
  cursor: pointer;
}












